.task {
    font-family: Roboto, sans-serif;
    margin-bottom: 5px;
    font-weight: 300;
    height: 45px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.task__title {
    font-size: 15px;
    color: #303030;
    vertical-align: middle;
    margin-left: 10px;
}

.task:hover {
    box-shadow: 0 1px 4px #97e3cc;
}

.task__delete {
    width: 14px;
    height: 14px;
    margin-right: 20px;
    background: url("delete.svg") no-repeat center;
}

.task__delete:hover {
    background: url("delete_red.svg") no-repeat center;
}

.task__pencil {
    width: 14px;
    height: 14px;
    margin-right: 20px;
    background: url("pencil.svg") no-repeat center;
}

.task__pencil:hover {
    background: url("pencil_blue.svg") no-repeat center;
}

.task__check {
    width: 14px;
    height: 14px;
    margin-left: 10px;
    background: url("done_task_gray.svg") no-repeat center;
}

.task__circle {
    width: 14px;
    height: 14px;
    margin-left: 10px;
    background: url("О.svg") no-repeat center;
}

.task__circle:hover {
    background: url("О_hover.svg") no-repeat center;
}

.task__left-element {
    margin-left: auto;
}