.task {
    font-family: Roboto, sans-serif;
    margin-bottom: 5px;
    font-weight: 300;
    height: 45px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.task__title {
    font-size: 15px;
    color: #303030;
    vertical-align: middle;
    margin-left: 35px;
}

.task__button-delete {
    width: 14px;
    height: 14px;
    margin-left: auto;
    margin-right: 20px;
    background: url("./delete.svg") no-repeat center;
}

.task__button-delete:hover {
    background: url("./delete_red.svg") no-repeat center;
}

