.task {
    font-family: Roboto, sans-serif;
    margin-bottom: 5px;
    font-weight: 300;
    height: 45px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    background-color: #ffffff;
    position: relative
}

.task__title {
    font-size: 15px;
    color: #303030;
    vertical-align: middle;
    margin-left: 35px;
    position: absolute;
    top: 14%;
    transform: translate(0, -50%)
}

