.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.form__button {
    padding: 8px 70px 8px 70px;
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    background-color: #74bbfd;
}

.form__button:disabled {
    cursor: default;
    background-color: #bdbdbd;
}
