
.add__input {
    border: none;
    width: 300px;
    height: 30px;
    margin-bottom: 20px;
    font-size: 15px;
    display: inline-flex;
    color: #353535;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    border-bottom: 2px solid #45d3a8;
}

.add__input:focus {
    outline: none;
    color: #353535;
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

.add__submit {
    padding: 8px 50px 8px 50px;
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 16px;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    background: url("./button_cross.svg") no-repeat 12%;
    background-color: #50d5ad;
}

.add__submit:disabled {
    background-color: #bdbdbd;
}